# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads
uploads/images/*
uploads/documents/*
!uploads/images/.gitkeep
!uploads/documents/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
